.nav {
    position: fixed;
    z-index: 100;
    height: 8vh;
    width: 96%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;

    .logo {
        color: #fff;
        font-weight: 600;
        font-size: 16px;
    }

    .navlinks ul {
        display: flex;
        flex-direction: row;
        li {
            padding: 0 4px;
            list-style: none;
            img {
                transform: scale(0.45);
            }
        }
    }
}
