.slide {
  color: #fff;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  h4 {
    display: inline;
    font-family: "Roboto";
    font-size: #{"max(6vw, 100px)"};
    color: rgba(255, 255, 255, 0.2);
  }
  span {
    font-family: "Alphacentauri";
    font-size: #{"max(3vw, 50px)"};
    vertical-align: 1.8vw;
    text-transform: uppercase;
  }
}

.detail {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 1250px) {
    flex-direction: column;
  }
  .detailText {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 900px;
    font-family: "Roboto";
    margin: 30px;
    @media screen and (max-width: 1250px) {
      width: 600px;
      flex-direction: column;
    }
    p {
      text-align: justify;
      font-size: 25px;
      font-weight: 300;
      line-height: 50px;
      margin-bottom: 50px;
    }
    .detailKeyInfo {
      h5 {
        width: 600px;
        display: block;
        font-family: "Roboto";
        font-size: 25px;
        display: inline;
        padding: 0 50px 0 0;
        span {
          font-size: 25px;
          font-weight: 300;
        }
      }
    }
  }
}

.silderImg {
  // z-index: 100;
  display: inline-block;
  width: #{"max(30vw, 600px)"};
  height: #{"max(30vw, 600px)"};
  background-position: center;
  background-size: cover;
  margin: 20px 20px;
}
